
{% extends 'base.html' %}
{% block title %}Список аналогов{% endblock %}
{% block header %}Список аналогов{% endblock %}
{% block content %}


{% for analog in analogs %}
    <a href="{% url 'parsing:analog_detail' analog.marking %}">{{ analog.marking }}</a><br>
    <!--<p><b>{{ analog.marking }}</b></p>-->
    <i>Бренд: {{ analog.manufacture_original }}</i>

    <p>
        Аналоги:

        {% for mark in analog.marking_analog.all %}
    
            {{mark.marking}}{% if not forloop.last %}, {% endif %}
    
        {% endfor %}
    </p>
    
{% if not forloop.last %}<hr>{% endif %}
{% endfor %} 

{% endblock %}