{% extends 'base.html' %}
{% block title %}Маркировка не найдена{% endblock %}
{% block header %}Маркировка не найдена{% endblock %}
{% block content %}

<p>Воспользуйтесь следующими рекомендациями:</p>

<!--{{ analog.mark }} -->

<br>
<ul>
    <li>
        Проверьте есть ли производитель данной модели в списке на главной странице
    </li>
    <li>
        Проверьте корректность маркировки через поиск Яндекс или Google
    </li>
    <li>
        Убедитесь, есть ли данная маркировка на сайте производителя из списка
    </li>
</ul>
        

{% endblock %}